<section>
  <header>
    <div class="icon">
      <fa-icon
        [classes]="['fa-icon-shadow']"
        [fixedWidth]="true"
        [icon]="widget.widgetLaunch.icon"
        [ngStyle]="{color: tabs.tab.color}"
        size="lg"
      >
      </fa-icon>
    </div>

    <h3>
      Terminal Setup
    </h3>
  </header>

  <form [formGroup]="prefsForm" novalidate spellcheck="false">
    <ul class="tabs">
      <li
        (click)="rescope('global')"
        [ngClass]="{selected: prefs.scope === 'global'}"
        class="tab"
        matRipple
      >
        Global
      </li>

      <li
        (click)="rescope('byLayoutID')"
        [ngClass]="{selected: prefs.scope === 'byLayoutID'}"
        class="tab"
        matRipple
      >
        {{ tabs.tab.label }}
      </li>

      <li
        (click)="rescope('bySplitID')"
        [ngClass]="{selected: prefs.scope === 'bySplitID'}"
        class="tab"
        matRipple
      >
        This panel
      </li>
    </ul>

    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Appearance
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="group">
          <mat-form-field>
            <mat-label>Font family</mat-label>
            <mat-select formControlName="fontFamily">
              <mat-option [value]="null" *ngIf="prefs.scope !== 'global'">
              </mat-option>
              <mat-option value="monospace">monospace</mat-option>
              <mat-option *ngFor="let font of fonts" [value]="font">
                {{ font }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input
              formControlName="fontSize"
              matInput
              placeholder="Font size"
              step="0.1"
              type="number"
            />
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</section>
