<section>
  <header>
    <div class="icon">
      <fa-icon
        [classes]="['fa-icon-shadow']"
        [fixedWidth]="true"
        [icon]="widget.widgetLaunch.icon"
        [ngStyle]="{color: tabs.tab.color}"
        size="lg"
      >
      </fa-icon>
    </div>

    <h3>Terminal Setup</h3>
  </header>

  <form [formGroup]="prefsForm" novalidate spellcheck="false">
    <ul class="tabs">
      <li
        (click)="rescope('global')"
        [ngClass]="{selected: prefs.scope === 'global'}"
        class="tab"
        matRipple
      >
        Global
      </li>

      <li
        (click)="rescope('byLayoutID')"
        [ngClass]="{selected: prefs.scope === 'byLayoutID'}"
        class="tab"
        matRipple
      >
        {{ tabs.tab.label }}
      </li>

      <li
        (click)="rescope('bySplitID')"
        [ngClass]="{selected: prefs.scope === 'bySplitID'}"
        class="tab"
        matRipple
      >
        This panel
      </li>
    </ul>

    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Theme </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="group">
          <mat-form-field>
            <mat-label>Theme</mat-label>
            <mat-select formControlName="theme">
              <mat-option [value]="null" *ngIf="prefs.scope !== 'global'">
              </mat-option>
              <mat-option *ngFor="let theme of themes" [value]="theme">
                {{ theme }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <figure *ngIf="prefsForm.controls['theme'].value as theme">
            <img
              (click)="showSnapshot(theme)"
              class="screenshot"
              src="assets/screenshots/{{ theme }}.png"
            />
            <figcaption class="label">
              Click image for a full-screen preview
            </figcaption>
          </figure>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title> Font </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="group">
          <mat-form-field>
            <mat-label>Font family</mat-label>
            <mat-select formControlName="fontFamily">
              <mat-option [value]="null" *ngIf="prefs.scope !== 'global'">
              </mat-option>
              <mat-option [value]="params.xtermFontFamily">
                {{ params.xtermFontFamily }}
              </mat-option>
              <mat-option *ngFor="let font of fonts" [value]="font">
                {{ font }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input
              formControlName="fontSize"
              matInput
              placeholder="Font size"
              step="0.1"
              type="number"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Normal font weight</mat-label>
            <mat-select formControlName="fontWeight">
              <mat-option [value]="null" *ngIf="prefs.scope !== 'global'">
              </mat-option>
              <mat-option *ngFor="let weight of weights" [value]="weight">
                {{ weight }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Bold font weight</mat-label>
            <mat-select formControlName="fontWeightBold">
              <mat-option [value]="null" *ngIf="prefs.scope !== 'global'">
              </mat-option>
              <mat-option *ngFor="let weight of weights" [value]="weight">
                {{ weight }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input
              formControlName="letterSpacing"
              matInput
              placeholder="Letter spacing (pixels)"
              step="1"
              type="number"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              formControlName="lineHeight"
              matInput
              placeholder="Line height"
              step="0.1"
              type="number"
            />
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title> Cursor </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="group">
          <mat-form-field>
            <mat-label>Cursor style</mat-label>
            <mat-select formControlName="cursorStyle">
              <mat-option [value]="null" *ngIf="prefs.scope !== 'global'">
              </mat-option>
              <mat-option *ngFor="let cursor of cursors" [value]="cursor">
                {{ cursor }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input
              formControlName="cursorWidth"
              matInput
              placeholder="cursorWidth"
              step="1"
              type="number"
            />
          </mat-form-field>

          <mat-checkbox
            *ngIf="prefs.scope === 'global'"
            formControlName="cursorBlink"
          >
            Blinking cursor
          </mat-checkbox>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title> Operation </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="group">
          <mat-form-field>
            <mat-label>Renderer</mat-label>
            <mat-select formControlName="rendererType">
              <mat-option [value]="null" *ngIf="prefs.scope !== 'global'">
              </mat-option>
              <mat-option *ngFor="let renderer of renderers" [value]="renderer">
                {{ renderer }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input
              formControlName="scrollSensitivity"
              matInput
              placeholder="Scroll sensitivity"
              step="0.1"
              type="number"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              formControlName="scrollback"
              matInput
              placeholder="Scroll buffer size"
              step="1"
              type="number"
            />
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</section>
