:host {
  display: block;
  height: 100%;
  position: relative;
}

.renderer {
  height: calc(100% - 2rem);
  left: 1rem;
  position: absolute;
  top: 1rem;
  width: calc(100% - 2rem);
  z-index: 2;
}

// NOTE: opacity kept in sync with badge i  pane.scss
.title {
  opacity: 0.25;
  position: absolute;
  right: 2rem;
  text-transform: uppercase;
  top: 1rem;
  transition: opacity 0.25s ease-in-out;
  z-index: 1;

  &.selected {
    opacity: 0.4;
  }
}
