<section class="prefs">
  <header class="header">
    <figure class="icon">
      <fa-icon
        [classes]="['fa-icon-shadow']"
        [fixedWidth]="true"
        [icon]="widget.widgetLaunch.icon"
        [ngStyle]="{color: tabs.tab.color}"
        size="lg"
      >
      </fa-icon>
    </figure>

    <h3>File System Setup</h3>
  </header>

  <form [formGroup]="prefsForm" class="prefsForm" novalidate spellcheck="false">
    <ul class="tabs">
      <li
        (click)="rescope('global')"
        [ngClass]="{selected: prefs.scope === 'global'}"
        class="tab"
        matRipple
      >
        Global
      </li>

      <li
        (click)="rescope('byLayoutID')"
        [ngClass]="{selected: prefs.scope === 'byLayoutID'}"
        class="tab"
        matRipple
      >
        {{ tabs.tab.label }}
      </li>

      <li
        (click)="rescope('bySplitID')"
        [ngClass]="{selected: prefs.scope === 'bySplitID'}"
        class="tab"
        matRipple
      >
        This panel
      </li>
    </ul>

    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Content </mat-panel-title>
        </mat-expansion-panel-header>

        <fieldset class="group">
          <mat-checkbox
            *ngIf="prefs.scope === 'global'"
            formControlName="showHiddenFiles"
          >
            Show hidden files
          </mat-checkbox>

          <ternimal-tristate
            *ngIf="prefs.scope !== 'global'"
            formControlName="showHiddenFiles"
          >
            Show hidden files
          </ternimal-tristate>

          <mat-divider></mat-divider>

          <ng-container
            *ngIf="prefs.scope === 'global'"
            formGroupName="visibility"
          >
            <mat-checkbox
              [formControlName]="dict.name"
              *ngFor="let dict of prefs.dictionary; trackBy: trackByDict"
            >
              Show {{ dict.tag }}
            </mat-checkbox>
          </ng-container>

          <ng-container
            *ngIf="prefs.scope !== 'global'"
            formGroupName="visibility"
          >
            <ternimal-tristate
              [formControlName]="dict.name"
              *ngFor="let dict of prefs.dictionary; trackBy: trackByDict"
            >
              Show {{ dict.tag }}
            </ternimal-tristate>
          </ng-container>
        </fieldset>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title> Sort Options </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-radio-group class="group" formControlName="sortDirectories">
          <label class="label"> How to Sort Directories </label>

          <mat-radio-button
            [value]="null"
            *ngIf="prefs.scope !== 'global'"
            color="warn"
          >
            Default
          </mat-radio-button>
          <mat-radio-button value="alpha">
            Alphabetically with files
          </mat-radio-button>
          <mat-radio-button value="first"> Before all files </mat-radio-button>
          <mat-radio-button value="last"> After all files </mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title> Formatting Options </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-radio-group class="group" formControlName="quantityFormat">
          <label class="label"> How to Show Size </label>

          <mat-radio-button
            [value]="null"
            *ngIf="prefs.scope !== 'global'"
            color="warn"
          >
            Default
          </mat-radio-button>
          <mat-radio-button value="number">
            {{ size | ternimalNumeral:'0,0' }}
          </mat-radio-button>
          <mat-radio-button value="abbrev">
            {{ size | ternimalNumeral:'0a' }}
          </mat-radio-button>
          <mat-radio-button value="bytes">
            {{ size | ternimalNumeral:'0b' }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title> Date and Time </mat-panel-title>
        </mat-expansion-panel-header>

        <fieldset class="group outer">
          <mat-radio-group class="group" formControlName="dateFormat">
            <label class="label"> Select Date Format </label>

            <mat-radio-button
              [value]="null"
              *ngIf="prefs.scope !== 'global'"
              color="warn"
            >
              Default
            </mat-radio-button>
            <mat-radio-button value="ago"> about 1 hour </mat-radio-button>
            <mat-radio-button value="shortDate">
              {{ today | date:'shortDate' }}
            </mat-radio-button>
            <mat-radio-button value="mediumDate">
              {{ today | date:'mediumDate' }}
            </mat-radio-button>
            <mat-radio-button value="longDate">
              {{ today | date:'longDate' }}
            </mat-radio-button>
            <mat-radio-button value="fullDate">
              {{ today | date:'fullDate' }}
            </mat-radio-button>
          </mat-radio-group>

          <mat-radio-group class="group" formControlName="timeFormat">
            <label class="label"> Select Time Format </label>

            <mat-radio-button
              [value]="null"
              *ngIf="prefs.scope !== 'global'"
              color="warn"
            >
              Default
            </mat-radio-button>
            <mat-radio-button value="none"> Don't show time </mat-radio-button>
            <mat-radio-button value="shortTime">
              {{ today | date:'shortTime' }}
            </mat-radio-button>
            <mat-radio-button value="mediumTime">
              {{ today | date:'mediumTime' }}
            </mat-radio-button>
            <mat-radio-button value="longTime">
              {{ today | date:'longTime' }}
            </mat-radio-button>
            <mat-radio-button value="fullTime">
              {{ today | date:'fullTime' }}
            </mat-radio-button>
          </mat-radio-group>
        </fieldset>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</section>
