<section>
  <header>
    <div class="icon">
      <fa-icon
        [classes]="['fa-icon-shadow']"
        [fixedWidth]="true"
        [icon]="desc.icon"
        [ngStyle]="{color: desc.color}"
        size="lg"
      >
      </fa-icon>
    </div>

    <div class="name">
      <h3>
        {{ desc.name | ternimalBreakable:14 }}
      </h3>

      <p *ngIf="descs.length > 1">
        + {{ descs.length - 1 }} others
      </p>
    </div>
  </header>

  <form [formGroup]="propsForm" novalidate spellcheck="false">
    <div class="permissions">
      <div>&nbsp;</div>
      <div><b>+R</b></div>
      <div><b>+W</b></div>
      <div><b>+X</b></div>

      <ng-container *ngIf="descs.length === 1">
        <ng-container [formGroupName]="perm[0]" *ngFor="let perm of perms">
          <div class="tag">{{ perm[1] }}</div>

          <mat-checkbox [formControlName]="flag" *ngFor="let flag of flags">
          </mat-checkbox>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="descs.length > 1">
        <ng-container [formGroupName]="perm[0]" *ngFor="let perm of perms">
          <div class="tag">{{ perm[1] }}</div>

          <ternimal-tristate
            [formControlName]="flag"
            *ngFor="let flag of flags"
          >
          </ternimal-tristate>
        </ng-container>
      </ng-container>
    </div>

    <table *ngIf="descs.length === 1" class="info">
      <tr>
        <td>Size</td>
        <td class="size">
          {{ (desc.isDirectory? totalSize : desc.size) | ternimalNumeral:'0b' }}
        </td>
      </tr>

      <tr>
        <td>Modified</td>
        <td class="mtime">
          {{ desc.mtime | date:'short' }}
        </td>
      </tr>

      <tr>
        <td>Created</td>
        <td class="btime">
          {{ desc.btime | date:'short' }}
        </td>
      </tr>

      <tr>
        <td>Accessed</td>
        <td class="atime">
          {{ desc.atime | date:'short' }}
        </td>
      </tr>

      <tr>
        <td>Mode</td>
        <td class="mode monospace">
          {{ desc.mode }}
        </td>
      </tr>

      <tr>
        <td>User</td>
        <td class="user">
          {{ desc.user }}
        </td>
      </tr>

      <tr>
        <td>Group</td>
        <td class="group">
          {{ desc.group }}
        </td>
      </tr>
    </table>

    <div *ngIf="loading" class="info">
      <fa-icon [icon]="['fas', 'spinner']" [pulse]="true"> </fa-icon>
      Loading file and directory analysis...
    </div>

    <figure #wrapper class="wrapper">
      <canvas #canvas class="chart"> </canvas>
    </figure>

    <table *ngIf="digests.length > 0" class="info">
      <tr>
        <th></th>
        <th>Size</th>
        <th>Count</th>
      </tr>

      <tr *ngFor="let digest of digests">
        <td class="ext monospace">
          <fa-icon
            [fixedWidth]="true"
            [icon]="digest.icon"
            [ngStyle]="{color: digest.color}"
            size="lg"
          >
          </fa-icon>
          {{ digest.ext || '&mdash;' }}
        </td>
        <td class="numeric">{{ digest.size | ternimalNumeral:'0b' }}</td>
        <td class="numeric">{{ digest.count | ternimalNumeral:'0,0' }}</td>
      </tr>
    </table>
  </form>
</section>
