<section class="props">
  <header class="header">
    <figure class="icon">
      <fa-icon
        [classes]="['fa-icon-shadow']"
        [fixedWidth]="true"
        [icon]="desc.icon"
        [ngStyle]="{color: desc.color}"
        size="lg"
      >
      </fa-icon>
    </figure>

    <h3 class="name">
      {{ desc.name }}
      <p *ngIf="descs.length > 1" class="sub-header">
        + {{ descs.length - 1 }} others
      </p>
    </h3>
  </header>

  <form [formGroup]="propsForm" class="propsForm" novalidate spellcheck="false">
    <fieldset>
      <article class="permissions">
        <p>&nbsp;</p>
        <p><b>+R</b></p>
        <p><b>+W</b></p>
        <p><b>+X</b></p>

        <ng-container *ngIf="descs.length === 1">
          <ng-container [formGroupName]="perm[0]" *ngFor="let perm of perms">
            <p class="tag">{{ perm[1] }}</p>

            <mat-checkbox [formControlName]="flag" *ngFor="let flag of flags">
            </mat-checkbox>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="descs.length > 1">
          <ng-container [formGroupName]="perm[0]" *ngFor="let perm of perms">
            <p class="tag">{{ perm[1] }}</p>

            <ternimal-tristate
              [formControlName]="flag"
              *ngFor="let flag of flags"
            >
            </ternimal-tristate>
          </ng-container>
        </ng-container>
      </article>
    </fieldset>

    <table *ngIf="descs.length === 1" class="info">
      <tr>
        <td>Name</td>
        <td class="name">{{ desc.name | ternimalBreakable:14}}</td>
      </tr>
      <tr>
        <td>Size</td>
        <td class="size">
          {{ (desc.isDirectory? totalSize : desc.size) | ternimalNumeral:'0b' }}
        </td>
      </tr>

      <tr>
        <td>Modified</td>
        <td class="mtime">{{ desc.mtime | date:'short' }}</td>
      </tr>

      <tr>
        <td>Created</td>
        <td class="btime">{{ desc.btime | date:'short' }}</td>
      </tr>

      <tr>
        <td>Accessed</td>
        <td class="atime">{{ desc.atime | date:'short' }}</td>
      </tr>

      <tr>
        <td>Mode</td>
        <td class="mode monospace">{{ desc.mode }}</td>
      </tr>

      <tr>
        <td>User</td>
        <td class="user">{{ desc.user }}</td>
      </tr>

      <tr>
        <td>Group</td>
        <td class="group">{{ desc.group }}</td>
      </tr>
    </table>

    <table *ngIf="descs.length > 1" class="info">
      <tr>
        <td>Total Size</td>
        <td class="size">{{ totalSize | ternimalNumeral:'0b' }}</td>
      </tr>
    </table>

    <p *ngIf="loading" class="info">
      <fa-icon [icon]="['fas', 'spinner']" [pulse]="true"> </fa-icon>
      Loading file and directory analysis...
    </p>

    <figure #wrapper class="wrapper">
      <canvas #canvas class="chart"> </canvas>

      <figcaption *ngIf="tooltip" class="tooltip">
        <table class="info">
          <tr>
            <th></th>
            <th class="numeric">SIZE</th>
            <th class="numeric">COUNT</th>
          </tr>
          <tr>
            <td class="ext monospace">
              <fa-icon
                [fixedWidth]="true"
                [icon]="tooltip.icon"
                [ngStyle]="{color: tooltip.color}"
                size="lg"
              >
              </fa-icon>
              {{ tooltip.ext || '&mdash;' }}
            </td>
            <td class="numeric">{{ tooltip.size | ternimalNumeral:'0b' }}</td>
            <td class="numeric">{{ tooltip.count | ternimalNumeral:'0,0' }}</td>
          </tr>
        </table>
      </figcaption>
    </figure>

    <table *ngIf="digests.length > 0" class="info">
      <tr
        (matSortChange)="sortDigests($event.active, $event.direction)"
        [matSortActive]="sortColumn"
        [matSortDirection]="sortDir"
        [matSortDisableClear]="true"
        matSort
      >
        <th></th>
        <th arrowPosition="before" mat-sort-header="size">SIZE</th>
        <th arrowPosition="before" mat-sort-header="count">COUNT</th>
      </tr>

      <tr *ngFor="let digest of digests">
        <td class="ext monospace">
          <fa-icon
            [fixedWidth]="true"
            [icon]="digest.icon"
            [ngStyle]="{color: digest.color}"
            size="lg"
          >
          </fa-icon>
          {{ digest.ext || '&mdash;' }}
        </td>
        <td class="numeric">{{ digest.size | ternimalNumeral:'0b' }}</td>
        <td class="numeric">{{ digest.count | ternimalNumeral:'0,0' }}</td>
      </tr>
    </table>
  </form>
</section>
