<ternimal-table
  [hydrate]="false"
  [hydrateTrace]="true"
  [splitID]="splitID"
  [tableID]="tableID">

  <thead>
    <tr>

      <ng-container
        *ngFor="let dict of prefs.dictionary; trackBy: trackByDict">

        <th
          *ngIf="effectivePrefs.visibility[dict.name]"
          [id]="dict.name"
          sortable>
          {{ dict.tag }}
        </th>

      </ng-container>

    </tr>
  </thead>

  <tbody>

    <tr
      *ngFor="let desc of descs; trackBy: trackByDesc"
      [id]="desc.path">

      <ng-container
        *ngFor="let dict of prefs.dictionary; trackBy: trackByDict">

        <td
          [ngClass]="dict.name"
          *ngIf="effectivePrefs.visibility[dict.name]">

          <ng-container
            *ngIf="['atime', 'btime', 'mtime'].includes(dict.name)">

            <ng-container
              *ngIf="effectivePrefs.dateFormat === 'ago'">
              {{ desc[dict.name] | amTimeAgo }}
            </ng-container>

            <ng-container
              *ngIf="(effectivePrefs.dateFormat !== 'ago') && (effectivePrefs.timeFormat === 'none')">
              {{ desc[dict.name] | date:effectivePrefs.dateFormat }}
            </ng-container>

            <div
              *ngIf="(effectivePrefs.dateFormat !== 'ago') && (effectivePrefs.timeFormat !== 'none')"
              class="datetime">

              <div>
                {{ desc[dict.name] | date:effectivePrefs.dateFormat }}
              </div>

              <div>&nbsp;</div>

              <div>
                {{ desc[dict.name] | date:effectivePrefs.timeFormat }}
              </div>

            </div>

          </ng-container>

          <ng-container
            *ngIf="['mode'].includes(dict.name)">
            {{ desc[dict.name] }}
          </ng-container>

          <!-- TODO: temporary -->

          <ng-container
            *ngIf="['name'].includes(dict.name)">

            <fa-icon
              [fixedWidth]="true"
              [icon]="['fas', 'folder']"
              [ngStyle]="{color: desc.color}"
              *ngIf="desc.isDirectory"
              size="sm">
            </fa-icon>

            <fa-icon
              [fixedWidth]="true"
              [icon]="desc.icon"
              [ngStyle]="{color: desc.color}"
              *ngIf="!desc.isDirectory"
              size="sm">
            </fa-icon>

            {{ desc[dict.name] }} 

          </ng-container>

          <ng-container
            *ngIf="['size'].includes(dict.name)">

            <ng-container 
              *ngIf="desc[dict.name] !== 0; else noSize">

              <ng-container
                *ngIf="effectivePrefs.quantityFormat === 'abbrev'">
                {{ desc[dict.name] | ternimalNumeral:'0a' }}
              </ng-container>

              <ng-container
                *ngIf="effectivePrefs.quantityFormat === 'bytes'">
                {{ desc[dict.name] | ternimalNumeral:'0b' }}
              </ng-container>

              <ng-container
                *ngIf="effectivePrefs.quantityFormat === 'number'">
                {{ desc[dict.name] | ternimalNumeral:'0,0' }}
              </ng-container>

            </ng-container>

            <ng-template #noSize>
              &ndash;
            </ng-template>

          </ng-container>

        </td>

      </ng-container>

    </tr>

  </tbody>

</ternimal-table>
