:host {
  display: block;
  height: 100%;
}

ternimal-table {

  td {
    padding: 0 0.5rem;
    vertical-align: middle;
    white-space: nowrap;

    &.icon {
      width: 100%;
    }

    &.mono {
      font-family: 'B612 mono', monospace;
      font-size: 0.75rem;
    }

    &.quantity {
      text-align: right;
    }

    .datetime {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

  }

  tr {
    height: 1.5rem;
  }

}
