:host {
  display: block;
  height: 100%;
}

ternimal-table {

  td {
    padding: 0 0.5rem;
    vertical-align: middle;
    white-space: nowrap;

    &.atime,
    &.btime,
    &.mtime {
      min-width: 7rem;
    }

    &.group {
      text-align: right;
    }

    &.mode {
      font-family: 'B612 mono', monospace;
      font-size: 0.75rem;
    }

    &.name {
      width: 100%;
    }

    &.size {
      text-align: right;
    }

    .datetime {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

  }

  tr {
    height: 1.5rem;
  }

}
