:host {
  --ternimal-cy-header: 48px;

  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.header {
  display: block;
  height: var(--ternimal-cy-header);
  position: absolute;
  top: 0;
  width: 100%;
}
