:host {
  display: block;
}

header {
  background-color: var(--mat-grey-850);
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 1fr minmax(120px, 0.25fr) auto;
  grid-template-rows: 1fr 5px;
  height: 100%;
}

.border {
  background-color: var(--mat-grey-800);
  display: flex;
  flex-direction: row;
  grid-column: 1 / span 3;
  grid-row: 2;
  height: 100%;

  .sub-tab {
    background-color: var(--primary-color);
    height: 100%;
    width: 14rem;
  }

}
