<section
  (click)="select()"
  [contextMenu]="contextMenu">

  <div
    class="content">
    <ng-template ternimalWidgetHost></ng-template>
  </div>

  <footer
    [ngClass]="{selected: isSelected()}">

    <fa-icon
      [icon]="tabs.tab.icon"
      [ngStyle]="{color: tabs.tab.color}">
    </fa-icon>

    <div
      class="spacer">
    </div>

    <ng-container
      *ngIf="isSelected()">

      <fa-icon
        (click)="launch(widget)"
        [fixedWidth]="true"
        [icon]="widget.widgetLaunch.icon"
        [matTooltip]="widget.widgetLaunch.description"
        [ngClass]="{launched: isLaunched(widget)}"
        [ngStyle]="{color: isLaunched(widget)? tabs.tab.color : 'inherit'}"
        *ngFor="let widget of widgets"
        class="launch tool">
      </fa-icon>

    </ng-container>

    <div
      class="placeholder">
    </div>

    <ng-container
      *ngIf="isSelected()">

      <ng-container
        *ngFor="let command of widget.widgetCommands || []">

        <fa-icon
          (click)="executeCommand(command)"
          [fixedWidth]="true"
          [icon]="command.icon"
          [matTooltip]="command.description"
          *ngIf="isCommandEnabled(command)"
          class="command tool">
        </fa-icon>

      </ng-container>

      <fa-icon
        (click)="ternimal.showWidgetSidebar({ context: widget.widgetPrefs.implementation })"
        [fixedWidth]="true"
        [icon]="['fas', 'cog']"
        [matTooltip]="widget.widgetPrefs.description"
        *ngIf="widget.widgetPrefs"
        class="prefs tool">
      </fa-icon>

      <div
        *ngIf="(widget.widgetCommands?.length > 0) || widget.widgetPrefs"
        class="spacer">
      </div>

      <fa-icon
        (click)="splitRight()"
        [fixedWidth]="true"
        [icon]="['fas', 'grip-vertical']"
        class="pane tool"
        matTooltip="Split right">
      </fa-icon>

      <fa-icon
        (click)="splitDown()"
        [fixedWidth]="true"
        [icon]="['fas', 'grip-horizontal']"
        class="pane tool"
        matTooltip="Split down">
      </fa-icon>

    </ng-container>

      <fa-icon
      (click)="closePane()"
      [fixedWidth]="true"
      [icon]="['fas', 'times']"
      *ngIf="isCloseEnabled()"
      class="pane tool"
      matTooltip="Close this panel">
    </fa-icon>

  </footer>

</section>

<context-menu>

  <ng-container
    *ngFor="let menuItem of widget.widgetMenuItems || []">

    <ng-template
      contextMenuItem
      (execute)="executeCommand(menuItem)"
      [enabled]="isCommandEnabled.bind(this, menuItem)">
      <div>{{ menuItem.description }}</div>
    </ng-template>

    <ng-template
      *ngIf="widget.widgetMenuItems?.length > 0"
      contextMenuItem
      divider="true">
    </ng-template>

  </ng-container>

  <ng-template
    contextMenuItem
    (execute)="splitUp()">
    <div>Split up</div>
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="splitDown()">
    <div>Split down</div>
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="splitLeft()">
    <div>Split left</div>
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="splitRight()">
    <div>Split right</div>
  </ng-template>

  <ng-template
    contextMenuItem
    divider="true">
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="closePane()"
    [enabled]="isCloseEnabled.bind(this)">
    <div>Close this panel</div>
  </ng-template>

</context-menu>

