<section
  (click)="select()"
  [contextMenu]="contextMenu">

  <div
    class="content">
    <ng-template ternimalWidgetHost></ng-template>
  </div>

  <footer
    [ngClass]="{selected: isSelected()}">

    <fa-icon
      [icon]="tabs.tab.icon"
      [ngStyle]="{color: tabs.tab.color}">
    </fa-icon>

    <div
      class="placeholder">
    </div>

    <ng-container
      *ngIf="isSelected()">

      <ng-container
        *ngFor="let command of widget?.commands || []">

        <fa-icon
          (click)="executeCommand(command)"
          [icon]="command.icon"
          [matTooltip]="command.tooltip"
          *ngIf="isCommandEnabled(command)"
          class="tool">
        </fa-icon>

      </ng-container>

      <div
        *ngIf="widget?.commands?.length > 0"
        class="spacer">
      </div>

      <fa-icon
        (click)="splitRight()"
        [icon]="['fas', 'grip-vertical']"
        class="tool"
        matTooltip="Split right">
      </fa-icon>

      <fa-icon
        (click)="splitDown()"
        [icon]="['fas', 'grip-horizontal']"
        class="tool"
        matTooltip="Split down">
      </fa-icon>

    </ng-container>

      <fa-icon
      (click)="closePane()"
      [icon]="['fas', 'times']"
      *ngIf="isCloseEnabled()"
      class="tool"
      matTooltip="Close this pane">
    </fa-icon>

  </footer>

</section>

<context-menu>

  <ng-container
    *ngFor="let menuItem of widget?.menuItems || []">

    <ng-template
      contextMenuItem
      (execute)="executeCommand(menuItem)">
      <div>{{ menuItem.tooltip }}</div>
    </ng-template>

    <ng-template
      *ngIf="widget?.menuItems?.length > 0"
      contextMenuItem
      divider="true">
    </ng-template>

  </ng-container>

  <ng-template
    contextMenuItem
    (execute)="splitUp()">
    <div>Split up</div>
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="splitDown()">
    <div>Split down</div>
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="splitLeft()">
    <div>Split left</div>
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="splitRight()">
    <div>Split right</div>
  </ng-template>

  <ng-template
    contextMenuItem
    divider="true">
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="closePane()"
    [enabled]="isCloseEnabled.bind(this)">
    <div>Close pane</div>
  </ng-template>

</context-menu>

