:host {
  --pane-cy-header: 1.5rem;
  --pane-cy-footer: 1.5rem;

  display: block;
  height: 100%;
}

section {
  height: 100%;
  overflow: hidden;
  position: relative;

  footer,
  header {
    font-size: 0.85rem;
    opacity: 0.33;
    padding: 0 0.5rem;
    position: absolute;
    transition: opacity 0.25s ease-in-out;
    width: 100%;

    &.selected {
      opacity: 1;

      .tool {
        opacity: 0.6;
      }

    }

  }

  footer {
    bottom: 0;
    height: var(--pane-cy-footer);
    justify-content: flex-start !important;
  }

  header {
    height: var(--pane-cy-header);
    justify-content: flex-end !important;
    top: 0;
  }

  .tool {
    cursor: pointer;
  }

  .tools {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    > * {
      margin-left: 0.5rem;
    }

  }

}
