:host {
  --pane-cy-footer: 2.5rem;

  display: block;
  height: 100%;
}

section {
  height: 100%;
  overflow: hidden;
  position: relative;

  &.selected .badge {
    opacity: 0.4;
    transition: opacity 0.25s ease-in-out;
  }

  &.selected .content {
    bottom: var(--pane-cy-footer);
    height: calc(100% - var(--pane-cy-footer));
  }

  &.selected .footer {
    height: var(--pane-cy-footer);
    opacity: 1;
  }

  .badge {
    opacity: 0.25;
    position: absolute;
    right: 3rem;
    top: 3rem;
  }

  .content {
    bottom: 0;
    font-size: 0.85rem;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .footer {
    align-items: center;
    background-color: var(--mat-grey-850);
    bottom: 0;
    display: flex;
    height: 0;
    justify-content: space-between;
    opacity: 0;
    padding: 0 0.5rem;
    position: absolute;
    transition: opacity 0.25s ease-in-out;
    width: 100%;

    > *:not(:first-child) {
      margin-left: 0.5rem;
    }

    .spacer {
      margin-right: 0.5rem;
    }

    .statusbar {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      min-width: 0;

      > * {
        margin-left: 0.5rem;
      }

      .cwd {
        direction: rtl;
        font-family: 'B612 mono', monospace;
        font-size: 0.75rem;
        overflow: hidden;
        text-align: left;
        // @see https://stackoverflow.com/questions/218065
        // NOTE: but ellipsis shows below, not left
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .tool {
      cursor: pointer;
      opacity: 0.6;

      &.launch {
        .launched {
          opacity: 1;
        }
      }
    }
  }
}
