:host {
  --pane-cy-footer: 2rem;

  display: block;
  height: 100%;
}

section {
  height: 100%;
  overflow: hidden;
  position: relative;

  .content {
    bottom: var(--pane-cy-footer);
    font-size: 0.85rem;
    height: calc(100% - var(--pane-cy-footer));
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  footer {
    align-items: center;
    bottom: 0;
    display: flex;
    height: var(--pane-cy-footer);
    justify-content: space-between;
    opacity: 0.33;
    padding: 0 0.5rem;
    position: absolute;
    transition: opacity 0.25s ease-in-out;
    width: 100%;

    > *:not(:first-child) {
      margin-left: 0.5rem;
    }

    &.selected {
      opacity: 1;

      .launch.tool.launched {
        opacity: 1;
      }

      .tool {
        opacity: 0.6;
      }

    }

    .spacer {
      margin-right: 0.5rem;
    }

    .statusbar {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      min-width: 0;

      > * {
        margin-left: 0.5rem;
      }

      .cwd {
        direction: rtl;
        font-family: 'B612 mono', monospace;
        font-size: 0.75rem;
        overflow: hidden;
        // @see https://stackoverflow.com/questions/218065
        // NOTE: but ellipsis shows below, not left
        // text-overflow: ellipsis;
        white-space: nowrap;

        .cwd-text {
          direction: ltr;
          display: inline-block;
        }

      }

    }

    .tool {
      cursor: pointer;
    }

  }

}
