<section
  (click)="select()"
  (window:keydown)="keydown($event)"
  [contextMenu]="contextMenu"
  [ngClass]="{selected: isSelected()}"
  #pane
  tabindex="0"
>
  <fa-icon
    [icon]="tabs.tab.icon"
    [ngStyle]="{color: tabs.tab.color, 'z-index': widget.widgetCaps?.isOpaque? 1 : -1}"
    class="badge"
    size="6x"
  >
  </fa-icon>

  <div class="content">
    <ng-template ternimalWidgetHost></ng-template>
  </div>

  <footer class="footer">
    <fa-icon
      (click)="launch(widget)"
      [fixedWidth]="true"
      [icon]="widget.widgetLaunch.icon"
      [matTooltip]="widget.widgetLaunch.description"
      [ngClass]="{launched: isLaunched(widget)}"
      [ngStyle]="{color: isLaunched(widget)? tabs.tab.color : 'inherit'}"
      *ngFor="let widget of widgets"
      class="launch tool"
    >
    </fa-icon>

    <div class="statusbar">
      <!-- NOTE: all this reversing so that the ellipsis and truncation appear on the "left!" -->

      <div *ngIf="widget.widgetStatus?.showCWD" class="cwd">
        &#x202e;

        <ng-container *ngIf="widget.widgetStatus?.gotoCWD; else rawCWD">
          <span *ngFor="let path of cwdParts().reverse()">
            &thinsp;<a (click)="cwdGoto(path)"
              >{{ path.split('').reverse().join('') }}</a
            >
          </span>
        </ng-container>

        <ng-template #rawCWD>
          {{ cwd().split('').reverse().join('') }}
        </ng-template>

        &#x202d;
      </div>
    </div>

    <ng-container *ngFor="let command of widget.widgetCommands || []">
      <fa-icon
        (click)="executeCommand(command)"
        [fixedWidth]="true"
        [icon]="command.icon"
        [matTooltip]="command.description"
        *ngIf="isCommandEnabled(command)"
        class="command tool"
      >
      </fa-icon>
    </ng-container>

    <fa-icon
      (click)="ternimal.showWidgetSidebar({ implementation: widget.widgetPrefs.implementation })"
      [fixedWidth]="true"
      [icon]="['fas', 'cog']"
      [matTooltip]="widget.widgetPrefs.description"
      *ngIf="widget.widgetPrefs"
      class="prefs tool"
    >
    </fa-icon>
  </footer>
</section>

<context-menu>
  <ng-container *ngFor="let group of widget.widgetMenuItems || []">
    <ng-container *ngFor="let menuItem of group">
      <ng-template
        contextMenuItem
        (execute)="executeCommand(menuItem)"
        [enabled]="isCommandEnabled.bind(this, menuItem)"
      >
        <div>{{ menuItem.description }}</div>
        <div *ngIf="menuItem.accelerator" class="accelerator">
          {{ menuItem.accelerator.description }}
        </div>
      </ng-template>
    </ng-container>

    <ng-template contextMenuItem divider="true"> </ng-template>
  </ng-container>

  <ng-template contextMenuItem (execute)="splitUp()">
    <div>Split up</div>
  </ng-template>

  <ng-template contextMenuItem (execute)="splitDown()">
    <div>Split down</div>
  </ng-template>

  <ng-template contextMenuItem (execute)="splitLeft()">
    <div>Split left</div>
  </ng-template>

  <ng-template contextMenuItem (execute)="splitRight()">
    <div>Split right</div>
  </ng-template>

  <ng-template contextMenuItem divider="true"> </ng-template>

  <ng-template
    contextMenuItem
    (execute)="close()"
    [enabled]="isCloseEnabled.bind(this)"
  >
    <div>Close this panel</div>
  </ng-template>
</context-menu>
