<as-split
  [direction]="splittable.direction"
  [useTransition]="true"
  gutterSize="5">

  <ng-template
    ngFor
    let-split
    [ngForOf]="splittable.splits"
    let-ix="index">

    <as-split-area
      [order]="ix"
      [size]="split.size">

      <ng-container
        *ngIf="split.splits; else notSplittable">

        <ternimal-splittable
          [splittable]="split">
        </ternimal-splittable>

      </ng-container>

      <ng-template 
        #notSplittable>

        <ternimal-pane
          [index]="ix"
          [split]="split"
          [splittable]="splittable">
        </ternimal-pane>

      </ng-template>

    </as-split-area>

  </ng-template>

</as-split>
