<section>

  <header>

    <fa-icon
      [fixedWidth]="true"
      [icon]="tabs.tab.icon"
      [ngStyle]="{color: tabs.tab.color}"
      size="lg">
    </fa-icon>

    <h3>
      {{ tabs.tab.label }} Setup
    </h3>

  </header>

  <form
    [formGroup]="tabPrefsForm"
    novalidate>

    <mat-form-field>
      <input
        formControlName="label"
        matInput
        placeholder="Enter a label for this tab"
        type="text">
      <button
        (click)="clear('label')"
        aria-label="Clear"
        mat-button
        mat-icon-button
        matSuffix>
        <fa-icon
          [icon]="['fas', 'times']">
        </fa-icon>
      </button>
    </mat-form-field>

    <article>

      <div><b>Select an Icon</b></div>

      <mat-button-toggle-group
        formControlName="icon">

        <mat-button-toggle 
          [value]="icon"
          *ngFor="let icon of icons">
          <fa-icon
            [fixedWidth]="true"
            [icon]="icon.split(' ')"
            size="2x">
          </fa-icon>
        </mat-button-toggle>

      </mat-button-toggle-group>

    </article>

    <article>

      <div><b>Select a Color</b></div>

      <mat-button-toggle-group
        formControlName="color">

        <mat-button-toggle 
          [value]="color[0]"
          *ngFor="let color of colors">
          <fa-icon
            [icon]="['fas', 'square']"
            [ngStyle]="{color: color[1]}"
            size="2x">
          </fa-icon>
        </mat-button-toggle>

      </mat-button-toggle-group>

    </article>

  </form>

</section>
