<nav
  (cdkDropListDropped)="drop($event)"
  (onResize)="handleResize($event)"
  cdkDropList
  cdkDropListOrientation="horizontal"
>
  <li
    (click)="select(tab)"
    (onResize)="measureTab($event)"
    [cdkDragData]="tab"
    [ngClass]="{selected: tab.layoutID === selection.layoutID, singleton: tabs.snapshot.length === 1}"
    *ngFor="let tab of inTabs"
    cdkDrag
    cdkDragLockAxis="x"
    class="tab"
    matRipple
  >
    <div *cdkDragPreview></div>

    <div class="icon">
      <fa-icon
        [classes]="['fa-icon-shadow']"
        [fixedWidth]="true"
        [icon]="tab.icon"
        [ngStyle]="{color: tab.color}"
      >
      </fa-icon>
    </div>

    <div class="label">
      {{ tab.label }}
    </div>

    <fa-icon
      (click)="confirmRemove($event, tab)"
      [icon]="['fas', 'times']"
      *ngIf="tabs.snapshot.length > 1"
      class="closer"
      matTooltip="Remove this tab"
      size="sm"
    >
    </fa-icon>
  </li>

  <li
    (onResize)="measureMore($event)"
    [cdkDragData]="inMore"
    [ngClass]="{selected: isInMore(selection.layoutID)}"
    *ngIf="inMore.length > 0"
    cdkDrag
    cdkDragLockAxis="x"
    class="more"
  >
    <div *cdkDragPreview>
      More tabs...
    </div>

    <select
      (change)="select(inMore[$event.target.selectedIndex - 1])"
      autocomplete="off"
    >
      <option
        [attr.selected]="!isInMore(selection.layoutID)? true : null"
        [value]="null"
      >
        More tabs...
      </option>

      <option
        [attr.selected]="(tab.layoutID === selection.layoutID)? true : null"
        [value]="tab.layoutID"
        *ngFor="let tab of inMore"
      >
        {{ tab.label }}
      </option>
    </select>

    <fa-icon
      (click)="confirmRemove($event, tabs.tab)"
      [icon]="['fas', 'times']"
      *ngIf="isInMore(selection.layoutID)"
      class="closer"
      matTooltip="Remove this tab"
      size="sm"
    >
    </fa-icon>

    <fa-icon
      [icon]="['fas', 'arrows-alt']"
      cdkDragHandle
      class="mover"
      matTooltip="Move all these tabs"
      size="sm"
    >
    </fa-icon>
  </li>
</nav>
