:host {
  display: block;
  min-width: 20rem;
  overflow: hidden;
}

nav {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-start;

  .closer,
  .mover {
    opacity: 0.6;
  }

  .more,
  .tab {
    align-items: center;
    background-color: rgba(var(--rgb-blue-grey-800, 0.1));
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    opacity: 0.6;
    padding: 0.5rem 1rem;
    width: var(--ternimal-cx-tabs);

    &.selected {
      opacity: 1;
    }
  }

  .more {
    // TODO: hack to align with real tabs
    padding-bottom: 1rem;
    padding-top: 0.75rem;

    .closer {
      margin-right: 0.5rem;
    }

    select {
      background-color: inherit;
      border: 0;
      color: var(--text-color);
      flex-grow: 1;
      font-size: 1rem;
      margin-right: 0.5rem;
    }
  }

  .tab {
    &.singleton {
      justify-content: center;
    }

    &.singleton .label {
      flex-grow: 0;
    }

    .icon {
      align-items: center;
      background-color: var(--mat-grey-700);
      border-radius: 50%;
      display: flex;
      flex-shrink: 0;
      height: 2.25rem;
      justify-content: center;
      width: 2.25rem;
    }

    .label {
      flex-grow: 1;
      margin: 0 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
