<menu>

  <button
    (click)="newLayout()"
    mat-icon-button
    matTooltip="Add a new tab">
    <fa-icon
      [icon]="['fas', 'plus']"
      size="lg">
    </fa-icon>
  </button>

  <button
    (click)="ternimal.toggleTabPrefs()"
    mat-icon-button
    matTooltip="{{ tabs.tab.label }} setup">
    <fa-icon
      [icon]="['fas', 'cog']"
      size="lg">
    </fa-icon>
  </button>

  <button
    [matMenuTriggerFor]="actions"
    mat-icon-button
    matTooltip="More actions...">
    <fa-icon
      [icon]="['fas', 'ellipsis-v']"
      size="lg">
    </fa-icon>
  </button>

</menu>

<mat-menu 
  #actions="matMenu">

  <button
    (click)="devTools()"
    mat-menu-item>
    <fa-icon
      [icon]="['fas', 'bug']">
    </fa-icon>
    <span>&nbsp;Open dev tools</span>
  </button>

  <button
    (click)="reload()"
    mat-menu-item>
    <fa-icon
      [icon]="['fas', 'sync']">
    </fa-icon>
    <span>&nbsp;Reload TERИIMAL</span>
  </button>

</mat-menu>
