<menu>

  <button
    (click)="newLayout()"
    mat-icon-button
    matTooltip="Add a new tab">
    <fa-icon
      [icon]="['fas', 'plus']"
      size="lg">
    </fa-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Preferences">
    <fa-icon
      [icon]="['fas', 'cog']"
      size="lg">
    </fa-icon>
  </button>

  <button
    (click)="devTools()"
    mat-icon-button
    matTooltip="Open dev tools">
    <fa-icon
      [icon]="['fas', 'bug']"
      size="lg">
    </fa-icon>
  </button>

  <button
    (click)="reload()"
    mat-icon-button
    matTooltip="Reload TERИIMAL">
    <fa-icon
      [icon]="['fas', 'sync']"
      size="lg">
    </fa-icon>
  </button>

</menu>
