<div
  [ngStyle]="{transform: 'translateX(-' + scrollLeft + 'px)', visibility: visibility}"
  class="header-wrapper"
>
  <table
    (mousedown)="columnSort($event)"
    (mouseover)="columnHover($event)"
    #header
    class="header"
  >
    <ng-content select="thead"> </ng-content>
  </table>
</div>

<div
  (mousedown)="rowDeselect($event)"
  (scroll)="scrollLeft = $event.target.scrollLeft"
  class="body-wrapper"
>
  <table
    (mousedown)="rowSelect($event)"
    (mouseover)="rowSelectXtnd($event)"
    (mouseup)="rowSelectCancel($event)"
    (onResize)="resize()"
    #body
    class="body"
  >
    <ng-content select="tbody"> </ng-content>
  </table>
</div>
