:host {
  --table-cy-header: 3rem;

  display: block;
  height: 100%;
}

.body-wrapper {
  height: calc(100% - var(--table-cy-header));
  overflow-y: auto;
}

.header-wrapper {
  height: var(--table-cy-header);
}

::ng-deep {

  table {
    border-collapse: collapse;

    &.body {
      width: 100%;
    }

    tbody {

      td {
        border-bottom: 1px dotted var(--mat-grey-500);
        min-width: 3rem;
        vertical-align: top;

        &:not(:last-child) {
          border-right: 1px dotted var(--mat-grey-500);
        }

        &.hover {
          background-color: rgba(var(--rgb-blue-grey-600), 0.25);
        }

        &.selected {
          background-color: rgba(var(--rgb-grey-200), 0.25);
        }

        &.hover.selected {
          background-color: rgba(var(--rgb-blue-grey-500), 0.5);
        }

      }

      tr {

        &:hover {
          background-color: rgba(var(--rgb-blue-grey-600), 0.25);
        }

      }

    }

    thead {

      th {
        border-bottom: 1px solid var(--mat-grey-500);
        font-weight: normal;
        height: var(--table-cy-header);

        &[sortable] {
          cursor: pointer;
          font-weight: bold;
        }

        &:not(:last-child) .column {
          border-right: 1px solid var(--mat-grey-500);
        }

        &.hover .column {
          background-color: rgba(var(--rgb-blue-grey-600), 0.25);
        }

        &.horizontal .text {
          transform: skew(30deg);
        }

        &.vertical .text {
          // NOTE: skew is a magic number and should be calculated by trig
          transform: rotateZ(-90deg) skew(-22.5deg);
          width: min-content;
        }

        .column {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;
          line-height: 1.1;
          // NOTE: translate is a magic number and should be calculated by trig
          transform: translateX(13px) skew(-30deg);

          .text {
            text-transform: uppercase;
            transition: transform 0.25s ease-in-out;
          }

        }

      }

    }

  }

}
