:host {
  display: block;
  height: 100%;
  position: relative;
}

.processes {
  td {
    padding: 0 0.5rem;
    vertical-align: middle;
    white-space: nowrap;

    &.cmd {
      max-width: 10rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.ctime,
    &.cpu,
    &.memory,
    &.pid,
    &.ppid {
      text-align: right;
    }

    &.cpu.withSparkline,
    &.memory.withSparkline {
      padding: 0 0.25rem 0 0;
      width: 6.25rem;

      > figure {
        align-items: center;
        display: grid;
        grid-gap: 0.25rem;
        grid-template-columns: 3rem 2.5rem;
        height: 100%;
        justify-content: center;
        line-height: 0;
      }
    }

    .sparkline {
      height: 1.5rem;
      width: 3rem;
    }
  }

  tr {
    height: 1.5rem;
  }
}

.processes-empty {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  > p {
    align-content: center;
    color: var(--mat-grey-500);
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr;
    height: 100%;
    justify-items: center;
    padding: 2rem;
  }
}
