<ternimal-table
  [hydrate]="true"
  [hydrateTrace]="true"
  [sortDir]="columnSort.sortDir"
  [sortedColumn]="columnSort.sortedColumn">

  <thead>
    <tr>
      <th id="pid" sortable>PID</th>
      <th id="ppid" sortable>PPID</th>
      <th id="uid" sortable>UID</th>
      <th id="name" sortable>Name</th>
      <th id="cpu" sortable>CPU</th>
      <th id="memory" sortable>Mem</th>
      <th id="ctime" sortable>Time</th>
      <th>Command</th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let stat of stats; trackBy: trackByPID"
      [id]="stat.pid">

      <ng-container
        *ngIf="table.isHydrated(stat.pid); else dehydrated">

        <td class="pid">{{ stat.pid }}</td>
        <td class="ppid">{{ stat.ppid }}</td>
        <td class="uid">{{ stat.uid }}</td>
        <td class="name">{{ stat.name }}</td>

        <td 
          class="cpu">
          <div>
            <ternimal-sparkline
              [sparkline]="stat.cpuTimeline"
              class="sparkline">
            </ternimal-sparkline>
            {{ stat.cpu / 100 | percent:'0.1-1' }}
          </div>
        </td>

        <td 
          class="memory">
          <div>
            <ternimal-sparkline
              [sparkline]="stat.memoryTimeline"
              class="sparkline">
            </ternimal-sparkline>
            {{ stat.memory / 100 | percent:'0.1-1' }}
          </div>
        </td>

        <td class="ctime">{{ stat.ctime | amUtc | amDateFormat:'HH:mm:ss' }}</td>

        <td 
          [matTooltip]="stat.cmd"
          class="cmd">
          {{ stat.cmd }}
        </td>

      </ng-container>

      <ng-template #dehydrated>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </ng-template>

    </tr>
  </tbody>

</ternimal-table>
