<ternimal-table
  [hydrate]="false"
  [hydrateTrace]="true"
  [splitID]="splitID"
  [tableID]="tableID"
  class="processes"
>
  <thead>
    <tr>
      <ng-container *ngFor="let dict of prefs.dictionary; trackBy: trackByDict">
        <th
          *ngIf="effectivePrefs.visibility[dict.name]"
          [id]="dict.name"
          sortable
        >
          {{ dict.tag }}
        </th>
      </ng-container>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let stat of stats; trackBy: trackByPID" [id]="stat.pid">
      <ng-container *ngFor="let dict of prefs.dictionary; trackBy: trackByDict">
        <td
          [matTooltip]="['cmd'].includes(dict.name)? stat[dict.name] : null"
          [ngClass]="dict.name + (effectivePrefs.showSparkline? ' withSparkline' : '')"
          *ngIf="effectivePrefs.visibility[dict.name]"
        >
          <ng-container *ngIf="table.isHydrated(stat.pid)">
            <ng-container
              *ngIf="['pid', 'ppid', 'uid', 'name', 'cmd'].includes(dict.name)"
            >
              {{ stat[dict.name] }}
            </ng-container>

            <ng-container *ngIf="['cpu', 'memory'].includes(dict.name)">
              <figure *ngIf="effectivePrefs.showSparkline; else noSparkline">
                <ternimal-sparkline
                  [sparkline]="stat[dict.name + 'Timeline']"
                  class="sparkline"
                >
                </ternimal-sparkline>
                {{ stat[dict.name] / 100 | percent:'0.1-1' }}
              </figure>
              <ng-template #noSparkline>
                {{ stat[dict.name] / 100 | percent:'0.1-1' }}
              </ng-template>
            </ng-container>

            <ng-container *ngIf="['ctime'].includes(dict.name)">
              <ng-container *ngIf="effectivePrefs.timeFormat === 'duration'">
                {{ timeAgo(stat[dict.name]) }}
              </ng-container>
              <ng-container *ngIf="effectivePrefs.timeFormat === 'hhmmss'">
                {{ stat[dict.name] | date:'HH:mm:ss':'Z' }}
              </ng-container>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <td></td>
    </tr>
  </tbody>
</ternimal-table>

<aside *ngIf="stats.length === 0" class="processes-empty">
  <p *ngIf="snapshot.length === 0; else filtered">
    <fa-icon [icon]="['fas', 'spinner']" [pulse]="true" size="6x"> </fa-icon>
  </p>

  <ng-template #filtered>
    <p>
      <fa-icon [icon]="['fas', 'info-circle']" size="6x"> </fa-icon>
      No results match filter
    </p>
  </ng-template>
</aside>
