:host {
  --ternimal-cy-header: 5rem;

  display: block;
}

.container {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.content {
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  display: block;
  height: var(--ternimal-cy-header);
  width: 100%;
}

.sidenav {
  background-color: var(--mat-grey-800);
  color: var(--text-color);
}

.splittable {
  display: block;
  height: calc(100% - var(--ternimal-cy-header));
  width: 100%;
}
